@media screen and (max-width=1920px){
  #header{
    background-color: burlywood;
  }
  #nav{
    background-color: burlywood;
  }
  #main{
    background-color: burlywood;
  }
  #footer{
    background-color: burlywood;
  }
}