@media screen and (max-width=980px){
  #header{
    background-color: skyblue;
  }
  #nav{
    background-color: skyblue;
  }
  #main{
    background-color: skyblue;
  }
  #footer{
    background-color: skyblue;
  }
}